<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Dataset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAUFAAD/8gD/JgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiAAAAAwAAAiAAAAADMAACIAAAAAMzMzMzMAAAADMzMzMzAAAAAzMzMzMAAAAAMzMzMwAAAAADMzMwAAAAAAAzMwAAAAAAADMzAgAAAAAAMzMiAAAAAAAzEyAAAAAAADMzMAAAAAAAAzMAAAAAAAAAAAAAAAAAAAAAAAAAD4fwAAfP8AADz/AAAAPwAAgB8AAMAfAADgHwAA8D8AAPh/AAD4XwAA+B8AAPg/AAD4PwAA/H8AAP//AAD//wAA" rel="icon" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1 class="rainbow-text" style="font-size: 70px; position: relative; z-index: 20">Bird Dataset</h1>
        <div class="button-container w-100">
            <button id="triggerButton"><i class="fas fa-dove"></i> Go! go! Produce!</button>
            <button id="startTrainingButton"><i class="fas fa-play"></i> Start Training</button>
        </div>
        <div class="bird-container bird-container-one">
            <div class="bird bird-one"></div>
        </div>
        <div class="bird-container bird-container-two">
            <div class="bird bird-two"></div>
        </div>
        <div class="bird-container bird-container-three">
            <div class="bird bird-three"></div>
        </div>
        <div class="bird-container bird-container-four">
            <div class="bird bird-four"></div>
        </div>
        <div class="bird-container bird-container-five">
            <div class="bird bird-five"></div>
        </div>
        <div class="bird-container bird-container-six">
            <div class="bird bird-six"></div>
        </div>
        <div class="bird-container bird-container-seven">
            <div class="bird bird-seven"></div>
        </div>
        <div class="bird-container bird-container-eight">
            <div class="bird bird-eight"></div>
        </div>
        <div class="bird-container bird-container-nine">
            <div class="bird bird-nine"></div>
        </div>
        <div class="bird-container bird-container-ten">
            <div class="bird bird-ten"></div>
        </div>
        <div class="bird-container bird-container-eleven">
            <div class="bird bird-eleven"></div>
        </div>
        <div class="bird-container bird-container-twelve">
            <div class="bird bird-twelve"></div>
        </div>
        <div class="bird-container bird-container-thirteen">
            <div class="bird bird-thirteen"></div>
        </div>
        <div class="bird-container bird-container-fourteen">
            <div class="bird bird-fourteen"></div>
        </div>
        <div class="bird-container bird-container-fifteen">
            <div class="bird bird-fifteen"></div>
        </div>
        <div class="bird-container bird-container-sixteen">
            <div class="bird bird-sixteen"></div>
        </div>
        <div class="bird-container bird-container-seventeen">
            <div class="bird bird-seventeen"></div>
        </div>
        <div class="bird-container bird-container-eighteen">
            <div class="bird bird-eighteen"></div>
        </div>
        <div class="bird-container bird-container-nineteen">
            <div class="bird bird-nineteen"></div>
        </div>
        <div class="bird-container bird-container-twenty">
            <div class="bird bird-twenty"></div>
        </div>
        <div class="bird-container bird-container-twenty-one">
            <div class="bird bird-twenty-one"></div>
        </div>
        <div class="bird-container bird-container-twenty-two">
            <div class="bird bird-twenty-two"></div>
        </div>
        <div class="bird-container bird-container-twenty-three">
            <div class="bird bird-twenty-three"></div>
        </div>
        <div class="bird-container bird-container-twenty-four">
            <div class="bird bird-twenty-four"></div>
        </div>
        <div class="bird-container bird-container-twenty-five">
            <div class="bird bird-twenty-five"></div>
        </div>
        <div class="bird-container bird-container-twenty-six">
            <div class="bird bird-twenty-six"></div>
        </div>
        <div class="bird-container bird-container-twenty-seven">
            <div class="bird bird-twenty-seven"></div>
        </div>
        <div class="bird-container bird-container-twenty-eight">
            <div class="bird bird-twenty-eight"></div>
        </div>
        <div class="bird-container bird-container-twenty-nine">
            <div class="bird bird-twenty-nine"></div>
        </div>
        <div class="bird-container bird-container-thirty">
            <div class="bird bird-thirty"></div>
        </div>
        <div id="clouds">
            <div class="cloud x1"></div>
            <!-- Time for multiple clouds to dance around -->
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class="w-100">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" id="progress-bar-producer" role="progressbar" style="width: 0%">0%</div>
            </div>
            <div class="progress-bar-label">Producer Progress</div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" id="progress-bar-processor" role="progressbar" style="width: 0%">0%</div>
            </div>
            <div class="progress-bar-label">Processor Progress</div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" id="progress-bar-raw-uploader" role="progressbar" style="width: 0%">0%</div>
            </div>
            <div class="progress-bar-label">Raw Uploader Progress</div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-primary" id="progress-bar-processed-uploader" role="progressbar" style="width: 0%">0%</div>
            </div>
            <div class="progress-bar-label">Processed Uploader Progress</div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" id="progress-bar-training" role="progressbar" style="width: 0%">0%</div>
            </div>
                <div class="progress-bar-label">Training Progress</div>
            </div>

        <div id="training-chart-container">
            <canvas id="trainingChart" width="400" height="200"></canvas>
        </div>

        <form id="search-form" class="w-100">
            <label for="image_type">Image Type:</label>
            <select id="image_type" name="image_type" class="form-select d-inline-block w-auto">
                <option value="">Select Type</option>
                <option value="raw">Raw</option>
                <option value="processed">Processed</option>
            </select>
            <label for="species">Species:</label>
            <select id="species" name="species" class="form-select d-inline-block w-auto">
                <option value="">Select Species</option>
            </select>
            <label for="set_type">Set Type:</label>
            <select id="set_type" name="set_type" class="form-select d-inline-block w-auto">
                <option value="">Select Type</option>
                <option value="train">Train</option>
                <option value="val">Val</option>
                <option value="test">Test</option>
            </select>
            <button type="submit"><i class="fas fa-search"></i> Search</button>
        </form>

        <div id="results" class="container mt-4"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function() {
            function updateSpeciesList() {
                const currentSelection = $('#species').val();
                $.get('/get_species_list', function(data) {
                    const speciesSelect = $('#species');
                    speciesSelect.empty();
                    speciesSelect.append('<option value="">Select Species</option>');
                    data.species_list.forEach(species => {
                        speciesSelect.append(`<option value="${species}">${species}</option>`);
                    });
                    speciesSelect.val(currentSelection);
                });
            }

            // Fetch the species list when the form is focused
            $('#species').on('focus', updateSpeciesList);

            $('#search-form').on('submit', function(e) {
                e.preventDefault();
                const image_type = $('#image_type').val();
                const species = $('#species').val();
                const set_type = $('#set_type').val();
                $.get('/search', { image_type: image_type, species: species, set_type: set_type }, function(data) {
                    $('#results').html(data);
                });
            });

            $('#triggerButton').on('click', function() {
                fetch('/trigger_processing', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            $('#startTrainingButton').on('click', function() {
                fetch('/start_training', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            function fetchProgress() {
                $.get('/progress', function(data) {
                    const progressBarProducer = $('#progress-bar-producer');
                    const progressBarProcessor = $('#progress-bar-processor');
                    const progressBarRawUploader = $('#progress-bar-raw-uploader');
                    const progressBarProcessedUploader = $('#progress-bar-processed-uploader');

                    if (data.total > 0) {
                        const percentageProducer = (data.produced / data.total) * 100;
                        const percentageProcessor = (data.processed / data.total) * 100;
                        const percentageRawUploader = (data.uploaded_raw / data.total) * 100;
                        const percentageProcessedUploader = (data.uploaded_processed / data.total) * 100;

                        progressBarProducer.css('width', percentageProducer + '%');
                        progressBarProducer.text(Math.floor(percentageProducer) + '%');
                        progressBarProcessor.css('width', percentageProcessor + '%');
                        progressBarProcessor.text(Math.floor(percentageProcessor) + '%');
                        progressBarRawUploader.css('width', percentageRawUploader + '%');
                        progressBarRawUploader.text(Math.floor(percentageRawUploader) + '%');
                        progressBarProcessedUploader.css('width', percentageProcessedUploader + '%');
                        progressBarProcessedUploader.text(Math.floor(percentageProcessedUploader) + '%');

                    } else {
                        progressBarProducer.css('width', '0%');
                        progressBarProducer.text('0%');
                        progressBarProcessor.css('width', '0%');
                        progressBarProcessor.text('0%');
                        progressBarRawUploader.css('width', '0%');
                        progressBarRawUploader.text('0%');
                        progressBarProcessedUploader.css('width', '0%');
                        progressBarProcessedUploader.text('0%');
                    }
                    setTimeout(fetchProgress, 1000);
                }).fail(function() {
                    setTimeout(fetchProgress, 1000);
                });
            }

            fetchProgress();

            const ctx = document.getElementById('trainingChart').getContext('2d');
            const trainingChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Training Loss',
                        data: [],
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        yAxisID: 'loss'
                    }, {
                        label: 'Validation Loss',
                        data: [],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        yAxisID: 'loss'
                    }, {
                        label: 'Training Accuracy',
                        data: [],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        yAxisID: 'accuracy'
                    }, {
                        label: 'Validation Accuracy',
                        data: [],
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1,
                        yAxisID: 'accuracy'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Epoch'
                            }
                        },
                        loss: {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Loss'
                            }
                        },
                        accuracy: {
                            type: 'linear',
                            position: 'right',
                            title: {
                                display: true,
                                text: 'Accuracy'
                            }
                        }
                    }
                }
            });

            async function fetchLatestMetrics() {
                const response = await fetch('/latest_metrics');
                const data = await response.json();

                const totalEpochs = data.epochs[0].total_epochs;
                const epochs = data.epochs.map(epoch => `${epoch.epoch} (${epoch.phase})`);
                const trainingLoss = data.epochs.map(epoch => epoch.loss);
                const validationLoss = data.epochs.map(epoch => epoch.val_loss);
                const trainingAccuracy = data.epochs.map(epoch => epoch.accuracy);
                const validationAccuracy = data.epochs.map(epoch => epoch.val_accuracy);
                const progress = data.epochs.map((epoch, index) => ((index + 1) / totalEpochs) * 100);
                const progressBarTraining = $('#progress-bar-training');
                progressBarTraining.css('width', progress.at(-1) + '%');
                progressBarTraining.text(Math.floor(progress.at(-1)) + '%');

                trainingChart.data.labels = epochs;
                trainingChart.data.datasets[0].data = trainingLoss;
                trainingChart.data.datasets[1].data = validationLoss;
                trainingChart.data.datasets[2].data = trainingAccuracy;
                trainingChart.data.datasets[3].data = validationAccuracy;
                trainingChart.update();
            }

            const ws = new WebSocket(`ws://${window.location.host}/ws`);
            ws.onopen = function() {
                console.log("WebSocket connection opened");
            };
            ws.onmessage = function(event) {
                console.log("WebSocket message received:", event.data);
                fetchLatestMetrics();
            };
            ws.onerror = function(error) {
                console.log("WebSocket error:", error);
            };
            ws.onclose = function() {
                console.log("WebSocket connection closed");
            };

            fetchLatestMetrics();
        });
    </script>
</body>
</html>
